<div class="text-center">
  <img src="/assets/logo.png" width="200" height="160" class="d-inline-block align-top" alt="Logo">
  <div class="name">Maxime Metz</div>
</div>

<nav class="navbar navbar-default">

  <div *ngIf="active=='accueil'" class="active">
    <a class="navbar-brand" href="accueil" (click)="onSelect('accueil')">Accueil</a>
  </div>
  <a class="navbar-brand" href="accueil" *ngIf="active!='accueil'" (click)="onSelect('accueil')">Accueil</a>

  <div *ngIf="active=='cv'" class="active">
    <a class="navbar-brand" href="cv" (click)="onSelect('cv')">CV</a>
  </div>
  <a class="navbar-brand" href="cv" *ngIf="active!='cv'" (click)="onSelect('cv')">CV</a>

  <div *ngIf="active=='veillej'" class="active">
    <a class="navbar-brand" href="veillej" (click)="onSelect('veillej')">Veille juridique</a>
  </div>
  <a class="navbar-brand" href="veillej" *ngIf="active!='veillej'" (click)="onSelect('veillej')">Veille juridique</a>

  <div *ngIf="active=='veillet'" class="active">
    <a class="navbar-brand" href="veillet" (click)="onSelect('veillet')">Veille technologique</a>
  </div>
  <a class="navbar-brand" href="veillet" *ngIf="active!='veillet'" (click)="onSelect('veillet')">Veille technologique</a>

</nav>
