<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed19 = !isCollapsed19" [attr.aria-expanded]="!isCollapsed19"
    aria-controls="collapseExample">
    Production d'une solution logicielle et d'infrastructure
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed19">

  <h2>GSB PPE2 : </h2>
  <img src="assets/GSB_Code.PNG">
  <img src="assets/GSB_Screen.PNG">

  <br />

  <h2>GSB PPE3 - Gestion des salles : </h2>
  <img src="assets/GSB3_Code.PNG">
  <img src="assets/GSB3_Screen.PNG">

  <br />

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/CCF_Code.PNG">
  <img src="assets/CCF_Screen.PNG">

  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed20 = !isCollapsed20" [attr.aria-expanded]="!isCollapsed20"
    aria-controls="collapseExample">
    Prise en charge d'incidents et de demande d'assistance
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed20">

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/CCF_Note.PNG">
  <img src="assets/CCF_Screen3.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed21 = !isCollapsed21" [attr.aria-expanded]="!isCollapsed21"
    aria-controls="collapseExample">
    Élaboration de documents relatifs à la production
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed21">

  <h2> IDO4PRO - Stage 1ère année : </h2>
  <img src="assets/Mautic_Doc1.PNG">
  <img src="assets/Mautic_Doc2.PNG">

  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed22 = !isCollapsed22" [attr.aria-expanded]="!isCollapsed22"
    aria-controls="collapseExample">
    Mise en place d'un dispositif de veille technologique
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed22">

  <img src="assets/Pearltrees.PNG">
  <img src="assets/TweetDeck.PNG">

  <br />
  <br />
  <br />
  <br />
  <br />


</div>

<br />

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1"
    aria-controls="collapseExample">
    A1.1.1 Analyse du cahier des charges d'un service à produire
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed1">

  <h2>GSB PPE2 : </h2>
  <img src="assets/GSB_cdc.png">

  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
    aria-controls="collapseExample">
    A1.2.3 Évaluation des risques liés à l'utilisation d'un service
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed2">

  <h2> IDO4PRO - Stage 1ère année : </h2>
  Campagne de mailing
  <br />
  <br /> Utilisation frauduleuse :
  <br />
  <br /> Extraction de la base de donnée avec des données à caractère personnelle
  <br /> Modification de la base de donnée
  <br />
  <br /> Dysfonctionnement du service :
  <br />
  <br /> Arrêt de l’accès à ce service
  <br /> Pertes de données
  <br /> Retard dans la mise en paiement
  <br /> Arrêt de la gestion des frais
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
    aria-controls="collapseExample">
    A1.2.5 Définition des niveaux d'habilitation associés à un service
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed3">

  <h2>GSB PPE2 : </h2>
  <br />
  <br /> Les visiteurs médicaux peuvent insérer, modifier ou consulter leurs notes de frais.
  <br />Le service comptabilité peut modifier, reporter, refuser, valider les notes de frais de chaque visiteurs médicaux mais
  aussi suivre le paiement des fiches.
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4"
    aria-controls="collapseExample">
    A1.4.1 Participation à un projet
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed4">
</div>

<br />

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5"
    aria-controls="collapseExample">
    A2.2.1 Suivi et résolution d'incidents
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed5">

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/CCF_Note.PNG">
  <img src="assets/CCF_Screen3.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed8 = !isCollapsed8" [attr.aria-expanded]="!isCollapsed8"
    aria-controls="collapseExample">
    A2.3.1 Identification, qualification et évaluation d'un problème & A2.3.2 Proposition d'amélioration d'un service
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed8">

  <h2>GSB PPE2 : </h2>
  Similation d'épreuve E4
  <img src="assets/GSB_Ajustement.PNG">
  <img src="assets/GSB_Tableau.PNG">
  <img src="assets/GSB_Formulaire.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<br />

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed10 = !isCollapsed10" [attr.aria-expanded]="!isCollapsed10"
    aria-controls="collapseExample">
    A4.1.2 Conception ou adaptation de l'interface utilisateur
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed10">

  <h2> IDO4PRO - Stage 1ère année : </h2>
  <img src="assets/Mautic_Screen.PNG">
  <br />
  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/CCF_Screen1.PNG">
  <img src="assets/CCF_Screen2.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed11 = !isCollapsed11" [attr.aria-expanded]="!isCollapsed11"
    aria-controls="collapseExample">
    A4.1.3 Conception ou adaptation d'une base de données
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed11">

  <h2> IDO4PRO - Stage 1ère année : </h2>
  <img src="assets/Requete.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed12 = !isCollapsed12" [attr.aria-expanded]="!isCollapsed12"
    aria-controls="collapseExample">
    A4.1.7 Développement, utilisation ou adaptation de composants
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed12">

  <h2>GSB PPE3 - Gestion des salles : </h2>
  <img src="assets/GSB3_Screen.PNG">

  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed13 = !isCollapsed13" [attr.aria-expanded]="!isCollapsed13"
    aria-controls="collapseExample">
    A4.1.9 Rédaction d'une documentation technique
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed13">

  <h2> IDO4PRO - Stage 1ère année : </h2>
  <img src="assets/Mautic_Doc1.PNG">
  <img src="assets/Mautic_Doc2.PNG">

  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed14 = !isCollapsed14" [attr.aria-expanded]="!isCollapsed14"
    aria-controls="collapseExample">
    A4.2.1 Analyse et correction d'un dysfonctionnement
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed14">

  <!-- <h2> IDO4PRO - Stage 1ère année : </h2>
  <img src="assets/Mautic_Screen1.PNG">
  <br /> Utilisation de pool (un pool de connexion est un cache de connexions de base de données maintenu afin que les connexions
  puissent être réutilisées lorsque des demandes futures à la base de données sont requises) car avec la manière classique
  et simple, le server perdait la connexion au bout d’un certain temps la mise en place de pool a permis de régler ce problème -->
  <h2>GSB PPE2 : </h2>
  <img src="assets/Capture.PNG">
  <img src="assets/GSB_Preuve.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<br />

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed15 = !isCollapsed15" [attr.aria-expanded]="!isCollapsed15"
    aria-controls="collapseExample">
    A5.2.1 Exploitation des référentiels, normes et standards
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed15">

  <h2> IDO4PRO - Stage 1ère année & Check Car Fleet - Stage 2ème année : </h2>
  <br />Nom de variable et commentaires uniquement en anglais
  <br /> Indentation
  <br /> Peu de commentaires du au nom de variable
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed16 = !isCollapsed16" [attr.aria-expanded]="!isCollapsed16"
    aria-controls="collapseExample">
    A5.2.2 Veille technologique
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed16">

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/Angular.png">
  <img src="assets/ionic.jpg">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed17 = !isCollapsed17" [attr.aria-expanded]="!isCollapsed17"
    aria-controls="collapseExample">
    A5.2.3 Repérage des compléments de formation
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed17">

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/Udemy.PNG">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed18 = !isCollapsed18" [attr.aria-expanded]="!isCollapsed18"
    aria-controls="collapseExample">
    A5.2.4 Étude d‘une technologie, d'un composant, d'un outil
  </button>
</p>
<div id="collapseExample" *ngIf="isCollapsed18">

  <h2>Check Car Fleet - Stage 2ème année : </h2>
  <img src="assets/puppeteer.png">
  <br />
  <br />
  <br />
  <br />
  <br />

</div>